---
layout: default
---

{% for lang in site.data.languages %}
  {% assign langCode = lang[0] %}
  {% if langCode == 'en' %}{% continue %}{% endif %}
{% endfor %}

<div class="languages">
  {% for lang in site.data.languages %}
  {% assign language = lang[1] %}
  <a href="/{{lang[0]}}">{{language.icon}} {{ language.label }} ({{ lang[0] }})</a>
{% endfor %}
</div>

<div class="posts">
  {{ content }}
  <br />

  {% assign posts = site.posts | where:"lang", page.lang %}

  {% for post in posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.content }}
    {% if post.images %}
    <ul class="photo-gallery-frontpage">
      {% for image in post.images %}
        <li><a href="{{ image.image_path }}" target="_blank"><img src="{{ image.image_path }}" alt="{{ image.title}}"/></a></li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
  {% endfor %}

</div>
