---
layout: default
---

{% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
{% if posts.size == 0 %}
    {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
{% endif %}
{% if posts.size > 1 %}
<div class="languages">
  {% for post in posts %}
  <a title="{{ site.data.translations['viewIn'][page.lang] }} {{ site.data.languages[post.lang].label }}" class="{{post.lang}}" href="{{ site.base-url }}{{ post.url }}">{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }} ({{ post.lang }})</a>
  {% endfor %}
</div>
{% endif %}

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
